__pycache__/
.idea/
audio/
img/
button.py/
level1_data.csb/
level2_data.csb/
level3_data.csb/
shooter_tut1.py/
shooter_tut2.py/
shooter_tut3.py/
shooter_tut4.py/
shooter_tut5.py/
shooter_tut6.py/
shooter_tut7.py/
shooter_tut8.py/
shooter_tut9.py/
shooter_tut10.py/
shooter_tut11.py/
